* {
    box-sizing: border-box;
}

body {
    color: $light;
}

/* CLEARFIX METHOD */
.item-nav {
    grid-area: header;
}

.item-main {
    grid-area: main;
    display: grid;
    grid-tempate-rows: repeat(2, 1fr);
    background-color: $disabled;
}

.item-sidebar {
    grid-area: sidebar;
    border: $brand-main-color solid 1px;
}

.container.all-page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-auto-flow: row;
}

[class*="item-card-"] {
    z-index: 1;
    margin: 0px 15px 15px 15px;
    background-color: white;
}
.item-card-1 {
    margin-top:15px;
}

