* {
    box-sizing: border-box;
}

body {
    color: $light;

}

.container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px 0 15px;
    background-color: $disabled;

    &:last-child {
        padding-top: 15px;
    }

    & .item-header {
        padding: 15px 15px 0px 15px;
        background-color: white;
    }

    & [class*="item-card-"] {
        background-color: white;
    }
}

.item-header {
    border-bottom: 1px solid $disabled;
}

h3,
h4 {
    font-weight: lighter;
    font-family: $brand-font;
    text-align: left;
    text-transform: uppercase;
    background-color: white;
}

h2.brand-logo {
    font-family: $brand-font;
}

h3 {
    padding: 0 10px 10px 20px;

}

h4 {
    padding-left: 10px;
}

.row {
    background-color: white;
}

hr {
    color: $hover;
    opacity: 0.26;
}

/*==
MEDIA
===*/


@media(max-width: 767px) {
    @include grid('sm');
}


@media(min-width: 768px) {
    @include grid('md');
}

@media(min-width: 992px) {
    @include grid('lg');
}

@media(min-width: 1200px) {
    @include grid('xl');
}


