* {
    box-sizing: border-box;
}

body {
    color: $light;

}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: $disabled;
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    margin-top: 15px;

    & .item-header {
        padding: 15px 15px 0px 15px;
        background-color: white;
    }

    & [class*="item-card-"] {
        background-color: white;
        margin-bottom: 15px;
    }

}

/*==
MEDIA
===*/


@media(max-width: 767px) {
    @include grid('sm');
}




@media(min-width: 768px) {
    @include grid('md');
}

@media(min-width: 992px) {
    @include grid('lg');
}

@media(min-width: 1200px) {
    @include grid('xl');
}



/* MOJE STYLE  * {
    box-sizing: border-box;
}

body {
    color: $light;
}

#dashboard .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    grid-auto-flow: row;

    & .item-main {
        grid-area: main;
        display: grid;
        grid-tempate-rows: 50px 1fr 50px 1fr;
        background-color: $disabled;

        & .item-header {
            margin: 15px 15px 0 15px;
            background-color: white;

            & .card-1 {
                grid-row: 1 /1;
            }

            & .card-2 {
                grid-row: 3 /3;
            }
        }

        & [class*="item-card-"] {
            z-index: 1;
            margin: 0px 15px 15px 15px;
            background-color: white;
        }

        & .item-card-1 {
            display: grid;
            grid-template-rows: 40px calc(100%-40px);
        }

        & .item-card-2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-content: center;
        }

        & .item-card-1-dates {
            grid-area: 1 / 1 / 1 /1;
            margin-left: 0;
        }

        & .item-card-1-chart {
            grid-row-start: 4;
            grid-row-end: 4;
            margin-left: 0;
            text-align: center;
        }


    }
}

.item-nav {
    grid-area: header;
    align-self: center;
    justify-content: end;
}

.item-sidebar {
    grid-area: sidebar;
    vertical-align: middle;
    position: fixed;
}


//LAYOUT STYLEGUIDE //

.container.styleguide {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 40px 200px 50px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main-2"
        "sidebar main-2"
        "sidebar main-2"
        "sidebar main-2";
    grid-auto-flow: row;

    & .item-main {
        grid-area: main-2;
        display: grid;
        grid-tempate-columns: 50px 50px auto;
        grid-tempate-rows: 100px 100px auto;
        margin: 5px;
    }
}

.item-1 {
    grid-area: 3 / 1 / 3 / 3;
}

.item-2 {
    grid-area: 1 / 1 / 1 / 1;
}

.item-3 {
    grid-area: 1 / 2/ 1 / 2;
}
*/
