/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$dot-active: #04AE00;
// button colors  //
$success:#F58220;
$warning: #FFA200;
$secondary: #979797;
$light: #ababab;
$disabled: #E3E3E3;
$hover: #F5F5F2;
// font - colors //
$font-black: #000;
$font-blue: #56819F;

/* font-sizes */
$paragraph-font-size: 16px;
$icons-size: 25px;

/* Fonts */
$brand-font: "Open Sans",Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
