/*kolejnosc jest wazna*/
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
@import "components/buttons";
@import "components/forms";
@import "components/nav";
@import "components/forms";
@import "components/sidebar";
@import "components/table";
@import "components/image";
@import "components/modal";

///* Sections*/ 
//@import "section_on/registration_form";

/* Pages / View */
//@import "pages/registration_form";

@media only screen and (min-width: 765px) {
    #showSidebar {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .scroll-wrapper {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            width: 100% !important;
        }

        td {
            border: none;
            border-bottom: 1px solid $disabled;
            postiion: relative;
            padding-left: 50%;
        }

        td:first-child {
            margin: 0;
            padding: 5px;
        }

        & td:nth-child(3),
        & td:nth-child(4) {
            display: none;
        }
    }
}


@media only screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px) {
    h3 {
        font-size: $h3-small-screen;
    }

    .menu-arrow {
        display: none;
    }

    #mobile {
        display: inline !important;
    }

    #nav-1.resizeNav {
        padding-bottom: 180px !important;
    }

    .sub-menu {
        display: none !important;

        &.resizeNav {
            display: block !important;
        }
    }

//    .item-nav ul li ul li {
//        background: inherit;
//        border: none;
//        box-shadow: none;
//        color: $success;
//        &:hover {
//            box-shadow: none;
//        }
//        
//        & > a:hover,a {
//            color: $success;
//        }
//    }

    .sidebar {
        display: none;
        transition: height 350ms ease-in-out;

        &.show-sidebar {
            width: 80%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 9999;
            display: inline;

            & #sidebarHide {
                right: 50px;
            }
        }
    }

    .item-icon-text.hamburger {
        display: none;
    }

    #showSidebar {
        display: inline !important;
        left: 2px;
        position: absolute;
        color:$disabled;
    }

    input[type="date"] {
        float: center;
        border-width: 1px;
        border-style: solid;
        font-size: small-screen;
        border-color: $disabled;
        margin-top: 5px;

        &:first-child {
            @include border-right-radius(0px);
            @include border-left-radius(5px);
            border-right: 1px inset;
            padding: 2px 5px;
            margin: 0;
            /*
        &:after {
            content: "|";
            font-weight: 40px;
            margin-right: -13px;
            color: $disabled;
        }*/
        }

        &:nth-child(2) {
            @include border-left-radius(0px);
            @include border-right-radius(5px);
            border-left: none;
            padding: 2px 5px;
            margin-left: -3px;

        }
    }

    .btn {
        color: #fff;
        padding: 5px 10px;
        border-radius: 5%;
        font-size: 15px;
        border: none;
    }
}
