/*kolejnosc jest wazna*/
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";



/* Components */
@import "components/buttons";
@import "components/forms";
@import "components/nav";
@import "components/sidebar";

/* Sections 
@import "section/registration_form";

/* Pags / View
@import "pages/registration"; */

h3 {
    margin: 15px 15px 15px 15px;
    font-weight: lighter;
    font-family: $brand-font;
}

h2.brand-logo {
    font-family: $brand-font;
}

hr {
    color: $hover;
    opacity: 0.26;
}
