/*kolejnosc jest wazna*/
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";



/* Components */
@import "components/buttons";
@import "components/forms";
@import "components/nav";
@import "components/sidebar";
@import "components/table";

/* Sections 
@import "section on/registration_form";

/* Pags / View
@import "pages/registration"; */

h3 {
    margin: 15px 15px 15px 15px;
    font-weight: lighter;
    font-family: $brand-font;
    text-align: left;
    text-transform: uppercase;
}

h2.brand-logo {
    font-family: $brand-font;
}

hr {
    color: $hover;
    opacity: 0.26;
}

.item-main {
    margin-top: 15px;

    & .item-header {
        padding: 15px 15px 15px 15px;
        background-color: white;
    }

    & [class*="item-card-"] {
        background-color: white;
        margin-bottom: 15px;

    }

}

