.component-nav {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.component--nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    & li {

        display: inline-block;
        position: relative;
        border-left: 1px solid hsla(200, 10%, 50%, 100);

        & > ul {
            display: none;

            /* &:before { --arrow
                content: '';
                height: 0;
                position: absolute;
                left: 50px;
                top: -12px;
                width: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #ccc;
            }*/

        }

        & a {
            height: 30px;
            display: inline-block;
            padding: 10px 10px;
            text-decoration: none;
            color: $light;
            -webkit-transition: background-color 2s ease-out;
            -moz-transition: background-color 2s ease-out;
            -o-transition: background-color 2s ease-out;
            transition: background-color 2s ease-out;
        }

        &:hover ul {
            display: block;
            position: absolute;
        }

        & ul li {
            display: block;
            postion: absolute;

            & > a {
                display: block;
                padding: 10px;
            }

            & > a:hover {
                color: $success;
            }
        }
    }
}


.component--nav-icon-with-text {
    margin: 0 15px;
}
