.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding: 0 20px;
    justify-content: center;

    & table {
        width: 100%;
        max-width: 100%;
        border-top: 1px solid $disabled;
        border-collapse: collapse;
        cursor: pointer;

        td {
            padding: 8px 5px 8px 5px;
            border-bottom: 1px solid $disabled;
            white-space: nowrap;
            overflow: hidden;
        }

        .strong {
            padding-right: 50px;
            //width: 200px;
            padding-left: 20px;

        }

        td:nth-child(2) {
            color: $font-blue;
        }

        td:first-child,
        td:nth-child(2) {
            width: 33%;
        }

        tr:hover {
            background-color: $disabled;

            & td:nth-child(3) i {
                color: $warning;
            }

            & td:nth-child(4) i {
                color: $light;
            }
        }
    }

    i {
        color: #fff;
        padding-right: 10px;
    }
}


/*
.item-table {
    align-content: center;
    display: grid;
    grid-column: 2 / auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;

    & table {
        width: 100%;
        max-width: 100%;
        border-top: 1px solid $disabled;
        border-collapse: collapse;
        cursor: pointer;

        td {
            padding: 8px 5px 8px 5px;
            border-bottom: 1px solid $disabled;
            white-space: nowrap;
            overflow: hidden;
        }

        .strong {
            padding-right: 10px;
            width: 100px;
            padding-left: 20px;

        }

        td:nth-child(2) {
            color: $font-blue;
        }

        td:nth-child(3) {
            padding-left: 10px;
        }

        tr:hover {
            background-color: $disabled;

            & td:nth-child(3) i {
                color: $warning;
            }

            & td:nth-child(4) i {
                color: $light;
            }
        }
    }

    i {
        color: #fff;
        padding-right: 20px;
    }
}
*/
